Repository Team-Motivoo/Motivoo-iOS, pull requests merged in 2024-01, with the labels that each got.

#2 [Setting] #1 프로젝트 세팅 완료
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Motivoo-iOS/Motivoo-iOS/Global/Base/BaseView.swift
  Motivoo-iOS/Motivoo-iOS/Global/Base/BaseViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/Adjust+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UICollectionReusableView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UICollectionViewCell+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIColor+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIFont+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIImageView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIStackView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UITableViewCell+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UITableViewHeaderFooterView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIViewController+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/FontLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/SizeLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Font/Pretendard-Medium.otf
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Font/Pretendard-Regular.otf
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Font/Pretendard-SemiBold.otf
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Font/r.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Info.plist
Labels: Setting ⚙️

#5 [Feat] #4 - Splash&Login 화면 UI 구성
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Application/SceneDelegate.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/LoginViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/SplashViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/StartViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/g.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIImage+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/appleLogin.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/appleLogin.imageset/active.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/kakaoLogin.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/kakaoLogin.imageset/active.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/motivooLogo.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/motivooLogo.imageset/logo.svg
Labels: Feat🪄

#7 [Setting] #6 프로젝트 추가 세팅 작업
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/i.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/ViewControllers/MissionOverviewViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Views/t.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/MyPageViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/LoginViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/SplashViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Base/MotivooTabBarController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home.imageset/home.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home.imageset/home@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home.imageset/home@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home_fill.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home_fill.imageset/home_fill.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home_fill.imageset/home_fill@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/home_fill.imageset/home_fill@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission.imageset/mission.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission.imageset/mission@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission.imageset/mission@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_fill.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_fill.imageset/mission_fill.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_fill.imageset/mission_fill@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_fill.imageset/mission_fill@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my.imageset/my.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my.imageset/my@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my.imageset/my@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my_fill.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my_fill.imageset/my_fill.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my_fill.imageset/my_fill@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/my_fill.imageset/my_fill@3x.png
Labels: Setting ⚙️

#12 [Feat] #8 HomeView 미션선택 전, 후 UI 구현 완료
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Data/Home/Model/HomeMissionModel.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/Model/HomeStepModel.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/b.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewModels/j.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeCircularProgressView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeMissionView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeStepCountView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIBezierPath+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/DateLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/child.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/child.imageset/Frame 1000011879.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/child.imageset/Frame 1000011879@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/child.imageset/Frame 1000011879@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_drink.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_drink.imageset/스크린샷 2023-12-26 오후 6.56 1.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_drink.imageset/스크린샷 2023-12-26 오후 6.56 1@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_drink.imageset/스크린샷 2023-12-26 오후 6.56 1@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_main.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_main.imageset/Group 1000011732.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_main.imageset/Group 1000011732@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_main.imageset/Group 1000011732@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_tree.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_tree.imageset/스크린샷 2023-12-26 오후 6.51 2.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_tree.imageset/스크린샷 2023-12-26 오후 6.51 2@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/mission_tree.imageset/스크린샷 2023-12-26 오후 6.51 2@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/parent.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/parent.imageset/Frame 1000011694.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/parent.imageset/Frame 1000011694@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/parent.imageset/Frame 1000011694@3x.png
Labels: Feat🪄

#11 [Feat] #10 온보딩뷰 1단계 UI 구현
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/LoginViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/OnboardingViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/SplashViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/StartViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewModels/h.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/OnboardingIntro1View.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/OnboardingIntro2View.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/StartViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UILabel+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UITextField+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/UIComponents/TitleBoxButton.swift
Labels: Feat🪄

#16 [Fix] #13 디자인시스템 및 네이게이션 백 버튼 수정
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/LoginViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/OnboardingViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/SplashViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/StartViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/OnboardingIntro1View.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/OnboardingIntro2View.swift
  Motivoo-iOS/Motivoo-iOS/Global/Base/BaseViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIFont+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/UIComponents/MotivooButton.swift
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/UIComponents/TitleBoxButton.swift
Labels: Fix 🛠️

#15 [Feat] #3 - 마이페이지 첫 번째 뷰 완성
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Data/MyPage/Model/ExerciseInfo.swift
  Motivoo-iOS/Motivoo-iOS/Data/MyPage/c.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/ViewControllers/MissionOverviewViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Views/MissionOverviewView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Views/t.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/ExerciseInfoViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/MyInfoViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/MyPageViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/DisclosureTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/ExerciseInfoTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/ExerciseInfoView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/LeaveTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/MyInfoView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/MypageView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/SectionTitleTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/TitleTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/k.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/notice.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/notice.imageset/icon_notice.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/notice.imageset/icon_notice@2x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/notice.imageset/icon_notice@3x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/right_arrow.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/right_arrow.imageset/icon.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/right_arrow.imageset/icon@2x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/right_arrow.imageset/icon@3x.png
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/shoes.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/shoes.imageset/icon_exercise.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/shoes.imageset/icon_exercise@2x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/shoes.imageset/icon_exercise@3x.svg
Labels: Feat🪄

#18 [Feat] #14 Home 인증하기 뷰 구현 완료
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeProveViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeCircularProgressView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeMissionView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeStepCountView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveMissionView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveView.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/icon_camera.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/icon_camera.imageset/icon_camera.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/icon_gallery.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/icon_gallery.imageset/icon_gallery.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Info.plist
Labels: Feat🪄

#21 [Feat] #20 사진 선택, 찍기 기능 및 커스텀 모달 구현 완료
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeProveSuccessViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeProveViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeStepCountView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveSuccessView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveView.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/check_active.imageset/Active.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/check_active.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Info.plist
Labels: Feat🪄

#26 Feat/#19 - 모아보기 뷰 UI 완성
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Motivoo-iOS/Motivoo-iOS/Data/MyPage/Model/OverView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Cells/LabelCollectionViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Cells/OverViewCollectionViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/ViewControllers/MissionOverviewViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Views/MissionOverviewView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/Views/NoCompleteView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/ExerciseInfoViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/MyInfoViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/ViewControllers/MyPageViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/ExerciseInfoTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/LeaveTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/MyPage/Views/SectionTitleTableViewCell.swift
  Motivoo-iOS/Motivoo-iOS/Global/Base/BaseViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/BasePaddingLabel.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIColor+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIImageView+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/new_right_arrow.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/new_right_arrow.imageset/icon.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/new_right_arrow.imageset/icon@2x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/new_right_arrow.imageset/icon@3x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/noexercise.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/noexercise.imageset/img_notexercise.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/noexercise.imageset/img_notexercise@2x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/noexercise.imageset/img_notexercise@3x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/thumb.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/thumb.imageset/img_thumb.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/thumb.imageset/img_thumb@2x.svg
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/thumb.imageset/img_thumb@3x.svg
Labels: Feat🪄

#33 [Feat] #25 CoreMotion을 활용한 걸음 수 받아오는 기능 구현
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS/Application/AppDelegate.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeProveViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/AuthorizationViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/InputInvitationViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UIViewController+.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Info.plist
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/StepCountManager.swift
Labels: Feat🪄

#37 [Network] #36 파이어베이스 연동 및 내 걸음 수 저장
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Motivoo-iOS/Motivoo-iOS/Application/AppDelegate.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/AuthorizationViewController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/GoogleService-Info.plist
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/StepCountManager.swift
Labels: Network 🚀

#47 [Feat] #38 Home API 연동 완료
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeChoiceMissionRequest.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeIntroReponse.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeMissionCheckResponse.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeMissionImageRequest.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeMissionImageResponse.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeMissionsResponse.swift
  Motivoo-iOS/Motivoo-iOS/Data/Home/APIModel/HomeRequest.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeProveSuccessViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeCircularProgressView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeMissionView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeStepCountView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveSuccessView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveView.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/ImageLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/URLs.swift
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/img_home_mission_complete.imageset/Contents.json
  Motivoo-iOS/Motivoo-iOS/Global/Resources/Assets.xcassets/img_home_mission_complete.imageset/img_home_mission_complete.svg
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/StepCountManager.swift
  Motivoo-iOS/Motivoo-iOS/Network/Home/HomeAPI.swift
  Motivoo-iOS/Motivoo-iOS/Network/Home/HomeService.swift
Labels: Network 🚀

#53 [Fix] #49 노션 URL 및 온보딩 버그 수정
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.pbxproj
  Motivoo-iOS/Motivoo-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Motivoo-iOS/Motivoo-iOS/Feature/MissionOverview/ViewControllers/MissionOverviewViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/InputInvitationViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/OnboardingViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/ViewControllers/StartViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/Cells/OnboardingView3SecondCell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/Cells/OnboardingView6Cell.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Onboarding/Views/OnboardingIntro1View.swift
  Motivoo-iOS/Motivoo-iOS/Global/Base/MotivooTabBarController.swift
  Motivoo-iOS/Motivoo-iOS/Global/Literals/TextLiterals.swift
Labels: Fix 🛠️

#65 Fix/#63
  Motivoo-iOS/Motivoo-iOS/Feature/Home/ViewControllers/HomeViewController.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeMissionView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeStepCountView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Main/HomeView.swift
  Motivoo-iOS/Motivoo-iOS/Feature/Home/Views/Prove/HomeProveView.swift
  Motivoo-iOS/Motivoo-iOS/Global/Extension/UILabel+.swift
  Motivoo-iOS/Motivoo-iOS/Global/SupportingFiles/StepCountManager.swift
Labels: Fix 🛠️
